.book{
    padding:20px;
    min-width:200px;
    line-height: 30px;
}

.nav{
    display: flex;
}

.admin{
    float:left;
    width:50%;
    min-height:80vh;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 700px){
    .main{
        display:block
    }

    .book{
        float:left;
        width:50%;
    }

    .hide{
        display:none
    }
}